---
import Layout from '../components/layout.astro';
---

<style>
h2 {
  text-align: center;
}
</style>

<Layout
  title="Thank You!"
  description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat."
>
  <main>
    <h2>Submission received!</h2>
  </main>
</Layout>
